CV

*files/
*fontawesome/
*img/

starcade/script/
starcade/media/
starcade/config/
starcade/style/
starcade/php/assets/backupFile.json
starcade/php/assets/database.json

memorygame/desktop/
memorygame/variables.css
memorygame/STIX2Text-Regular.otf
memorygame/data.js