.wrapper.abilities-div {
    gap: unset;
}

.abilities-div .skills,
.abilities-div .tools,
.abilities-div .languages {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
    display: grid;
    gap: 0 6em;
}

.skills h2,
.tools h2,
.languages h2 {
    grid-column: span 3;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5em;
}

.skill-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0;
}

.skill-div * {
    font-family: "Raleway", sans-serif;
}

.skill-div .lang-ex {
    font-size: 1.2vw;
}

.skill-div:hover .diamond {
    margin: 1px;
}

.diamond {
    font-size: 1.5em;
    color: #d3d3d3;
    transition: margin 0.5s ease-in-out;
}

.diamond.filled {
    color: var(--font-color);
}