.main--me {
    float: right;
    margin-left: 2em;
    width: 400px;
    /* border-radius: 0 50%; */
}

.main--about-me {
    clear: both;
    display: flex;
    width: 100%;
    margin-top: 3rem;
}

.about-me {
    /* background-color: rgba(145, 175, 255, 0.1); */
    /* background-color: rgba(23, 37, 42, 0.1); */
    background-color: rgba(176, 155, 58, 0.1);
    /* color: white; */
    display: block;
    flex-basis: 50%;
    padding: 2rem;
    text-align: right;
}

.about-me p {
    width: auto;
    /* color: white; */
}

.contact-info {
    flex-basis: 50%;
    background-color: var(--accent-color-light);
    display: block;
    padding: 2rem;
}

.contact-info tr td:first-child {
    padding-right: 2em;
}

#arrowDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#arrowDiv .arrow {
    font-size: 2em;
    font-weight: 900;
}

#arrowDiv .btn {
    width: 9rem;
}

@keyframes arrowin {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: calc(100% - 12rem);
	}
}

@keyframes arrowout {
	0% {
		margin-left: calc(100% - 12rem);
	}
	100% {
		margin-left: 0px;
	}
}