/**
 * The stylesheet for footer
 */

.footer {
    clear: both;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 9rem;
    width: 100vw;
    background-color: var(--footer-background);
    clip-path: polygon(100% 0%, 0% calc(100% - 5em), 0% 100%, 100% 100%);
    padding: 0 2em;
}

.footer a {
    text-decoration: none;
}

.footer p, .fa-brands {
    color: var(--alt-font-color);
}

.fa-brands {
    font-size: 1.5em;
    margin-left: .5em;
    transition: color 1s ease;
}

.fa-brands:hover {
    color: var(--accent-color);
} 

.footer div {
    margin-bottom: var(--magic-number);
}
