/**
 * The stylesheet for footer
 */

.footer {
    clear: both;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 9rem;
    width: 100vw;
    background-color: var(--nav-footer-background);
    clip-path: polygon(100% 0%, 0% calc(100% - 5em), 0% 100%, 100% 100%);
    padding: 0 2em;
    margin-top: 9rem;
}

.footer a {
    text-decoration: none;
}

.footer .copy {
    font-size: 0.8em;
}

.footer div {
    margin-bottom: var(--magic-number);
}
