/*
 * Style for navbar
 */

.navbar {
    width: 100vw;
    padding-bottom: 1rem;
    background-color: #17252a;
    background-color: var(--nav-footer-background);
    clip-path: polygon(0% 0%,100% 0%,100% calc(100% - 3em),0% 100%);
    position: fixed;
    z-index: 1;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.navWrapper {
    max-width: 67rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar .site-header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.navbar .logo {
    padding: 1rem;
    flex-grow: 1;
}

.navbar img {
    /* margin-left: 1rem; */
    width: 2.5rem;
}

.normal-nav {
    flex-grow: 1;
    padding-right: 1.5rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.navbar li {
    flex-grow: 1;
    list-style: none;
    height: 100%;
}

.navbar a:not(.logo a) {
    text-decoration: none;
    color: var(--light-mint);
    height: 100%;
    padding-top: 1rem;
}

.navbar li a:hover {
    cursor: pointer;
}

div.site-header .nav-toggle {
    display: none !important;
    font-size: 2em;
    color: #fff;
    width: 2em;
    display: block;
    line-height: 2em;
    cursor: pointer;
    text-align: center;
    float: right;
    padding-right: 1rem;
}

.navbar.nav-up {
    top: -8rem;
}

/*---- settings for navbar --- */
@media (max-width: 767px) {
    .navWrapper {
        display: block;
    }

    div.site-header .nav-toggle {
        display: flex !important;
        flex-grow: 0;
        justify-content: center;
    }

    div.normal-nav {
        padding-bottom: 2em;
    }

    .normal-nav ul {
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        transition: height 1s;
    }

    .navbar li {
        width: 100%;
    }
}