$font-color: #333;
$font-color-alternate: #feffff;
$font-size-headline: 2.2em;
$headline-shadow: 2px 2px $font-color;
$accent-color: #f9a602;
$accent-color-silver: #c0c0c0;
// $accent-color-silver: #ccc;
// $accent-color-silver: #b5b5b5;
// $accent-color: #9e7c38;
$background-color: #feffff;
$background-color-footer: #333;
$background-color-team: rgba(204, 204, 204, 0.4);
$border-radius-team: unset;
$border-radius-button: unset;
$border-radius-img: unset;
// $img-filter: brightness(0.9);
$img-filter: contrast(110%) brightness(103%);
$code: #f5f5f5;

$font-paragraph: 'Open Sans';
$font-title: 'Lato', 'Montserrat';

$font-oswald: 'Oswald';
$font-opensans: 'Open Sans';
$font-roboto: 'Roboto';
$font-lato: 'Lato';
$font-montserrat: 'Montserrat';

$margin-equal: 4rem;
$base-line-height: 1.5;
$base-font-size: 1em;
$magic-number: $base-line-height * $base-font-size;


