{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <section class="section section-about" id="section"> 
            {{ content }}
        </section>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>