
/* settings for the typography */
@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

/*---- settings for mobile --- */
@media (max-width: 900px) and (min-width: 768px) {
    .projects .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .projects .wrapper h1 {
        grid-column: span 2;
    }
}

/*---- settings for mobile --- */
@media (max-width: 767px) {
    * {
        line-height: 1.5 !important;
    }
    
    p,
    table td,
    a {
        font-size: 1.1em;
    } 

    .fa-brands {
        font-size: 1.8em;
    }

    .article {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 6rem;
    }

    .main--h3 {
        padding-left: 1rem;
    }

    .main--p {
        padding: 1rem;
    }

    .main--me {
        float: none;
        order: 21;
        margin: 0 auto !important;
        margin-bottom: 2em;
    }

    .main--about-me {
        padding: 0;
    }

    .btn {
        font-size: 1em;
    }

    .article h3 {
        order: 1;
    }

    .article h1 {
        order: 11;
        text-align: center;
    }

    .article p {
        order: 31;
        text-align: center;
        font-size: 1.1em;
    }

    .main--about-me {
        flex-direction: column;
    }

    .abilities-div .skills {
        display: block !important;
        padding: 0 !important;
    }

    .skills {
        width: 100%;
    }

    .skills table {
        width: 100%;
        padding: 0 !important;
        border-spacing: 0 1em;
    }

    .skills table tr {
        display: flex;
        justify-content: space-between;
    }

    .skills table tr td {
        height: 2em;
    }

    .skills table tr td:first-child {
        padding-right: 0 !important;
    }

    .skills .diamond {
        display: contents;
        font-size: 1.8em;
    }

    /* .projectdiv {
        padding: 2rem 0 !important;
    } */

    .projectdiv.carlbarks,
    .projectdiv.bmo {
        margin: 0 0 auto auto;
    }

    .projects .wrapper {
        grid-template-columns: 1fr;
    }

    .projects .wrapper h1 {
        grid-column: span 1;
    }

    /* .wrapper hr {
        display: block !important;
        height: 0.5px;
        color: lightgray;
    } */

    .projectdiv .projectimg {
        height: auto;
    }
}


