/* --- Typography for the webpage --- */
html {
    font-size: 100%;
    line-height: var(--base-line-height);
}

body {
    background-color: var(--alt-backround-color);
}

* {
    font-family: "Open Sans", sans-serif;
}

p {
    color: var(--font-color);
    font-size: var(--base-font-size);
    margin-bottom: var(--magic-number);
    max-width: 64rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    margin-bottom: var(--magic-number);
}

.title,
.main--h1 {
    font-family: "Playfair Display";
}

.main--h1 {
    font-size: 3em;
}

.main--h3 {
    font-size: 2em;
    font-family: "Raleway", sans-serif;
}